/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #31299e #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5rem;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b62e9;
    border-radius: 10px;
  }


#input-with-icon-textfield{
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-text-fill-color: unset;
  caret-color: unset;
}

.MuiStepLabel-label{
  font-weight: 600 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #1F1D2B inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
    color: white !important;
}